:root {
    --main-1: #00444f;
    --main-2: #c7a62c;
    --main-3: #3e8a9a; 
    --main-4: #b44546;
}

@font-face {
    font-family: Fallback;
    src: url(/css/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
    font-family: 'Montserrat', Fallback, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #fff;
}

a, a:visited {
    text-decoration: none;
    color: unset;
}

body {
    background: var(--main-1);
}

#navBar {
    display: flex;
    background: var(--main-3);
    padding: 12px;
    margin: -8px;
    justify-content: flex-end;
}

.navItem {
    padding: 5px 10px;
    margin-left: 40px;
    font-weight: 800;
    transition: .3s;
}

.navItem.active {
    border-bottom: 2px solid;
}

.navItem:hover {
    background: white;
    color: black;
}

#section {
    background: #00000075;
    border-radius: 4px;
    margin: 8px;
    padding: 8px;
    margin-top: 20px;
}

.section-header {
    font-size: 28px;
}

.formLink {
    border-bottom: 2px solid;
    transition: .3s;
}

.formLink:hover {
    color: var(--main-2)
}